/ %h1 Add a Friend

%table#users
  %thead
    %tr
      %th Name 
      / %th Last Name
      / %th User Email
      / %th User Date of Birth
      %th Friend
      / %th User Profile
      / %th User News Feed
      / %th Delete?
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name_first + " " + user.name_last
        / %td= user.name_last
        / %td= user.email
        / %td= user.dob
        - if user.email == current_user.email
          %td= link_to "My Profile", user_path(user)
        - else
          %td= link_to "Add Friend"

          / %a{ :class => "friend-button", :href => "#" } Friend
        /= link_to "Add Friend"
        / %td= link_to "Profile", user_path(user)
        / %td= link_to "News Feed", user_posts_path(user)
        / %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

/ = link_to 'New User', signup_path
