/ %h1 Add a Friend

%table#users
  %thead
    %tr
      %th Name
      %th Friend
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name_first + " " + user.name_last
        
        - if (current_user && user.email == current_user.email)
          %td= link_to "My Profile", user_path(user)
        - else
          %td= link_to "Add Friend", new_user_relationship_path(user)

%br
