/ %h1 Add a Friend
%div.narrowpage
  %h1.subtitle Find a Friend
  %table#users
    - @users.each do |user|
      %div.friendslist
        %span= user.name_first + " " + user.name_last
        - if (current_user && user.email == current_user.email)
          %span= link_to "My Profile", user_path(user)
        - else
          %span= link_to "Add Friend", new_relationship_path(user.id)

%br
