- begin
  - items = eval(error)
  %div#error_explanation
    %ul 
    - items.each do |item|
      - if /\["([^\"]+)".*\]/.match(item[1].to_s)
        %li
          ="#{cap_each_word(item[0].to_s)}: #{cap_each_word($1)}"
- rescue SyntaxError, NameError => se
  %div#error_explanation 
    =error