/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/**,
*:before,
*:after{
	margin: 0 auto;
	padding: 0;
}*/

body{
	margin: 0 auto;
	padding: 0;
}

 header{
 	background: #232425;
 	height: 100px;
 	width: 100%;
 	margin: 0;
 	display: table;
 	
 }
 	header h1.title{
 		color: #fcfcf8;
 		vertical-align: middle;
 		display: table-cell;
 	}

 	a{
 		color: #f70;
 	}

fieldset{
	margin: 0px auto;
	width: 320px;
	/*height: 150px;*/
	display: block;
	position: relative;
}
	fieldset.login{
	}
	fieldset.signup{

	}


	fieldset>h3{
		font-family: "Trebuchet MS", Helvetica, sans-serif;
	}
	.form-containers{
		display: inline-block;
	}
	form{
		margin: 0 auto;
		/*height: 100px;*/
	}

	.center{
		margin: 0 auto;
		display: block;
		text-align: center;
		/*position: relative;*/
	}
	.font{
		font-family: "Trebuchet MS", Helvetica, sans-serif;
	}

	input#user_login_email{
		width: 200px;
		/*height: 30px;*/
		text-align: center;
		font-size: 16px;
		

	}
	input#user_login_password{
		width: 200px;
		/*height: 30px;*/
		text-align: center;
		font-size: 16px;
	}
	input{
		height:30px;
		font-size: 18px;
	}
