/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
body
{
	background-color: lightgray;
}

div.page, div.narrowpage
{
	display: block;
	width: 75%;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-right: auto;
	margin-left: auto;
	border: black;
	border-style: solid;
	border-color: gray;
	box-shadow: 5px 5px 5px #B8B8B8;
	border-width: 2px;
	padding: 2%;
	background-color: #232425;
	border-radius:25px;
}

div.narrowpage
{
	width:33%;
}

.subtitle
{
	color: #E65C00;
	text-align: center;
}

table.user
{
	width: 100%;
	border-spacing: 10px;
}

table.user td
{
	text-align: center;
	padding: 2%;
	width: 25%;
	border-radius: 25px;
	vertical-align: top;
	background-color: #393A3B;
	color: white;
}

.content
{
	text-align: center;
	padding:1%;
}

.content label
{
	font-weight: bold;
	color: #E65C00;
}

.content textarea
{
	width: 95%;
	height: 60px;
	resize: none;
	background-color: lightgray;
}

.minor
{
	color: white;
	font-weight: normal;
	font-size: 100%;
}

span
{
	font-weight: bold;
	font-size: 110%;
}

fieldset
{
	border-width: 0;
}

header
{
	padding-left: 10px;
}

.headerlinks
{
	text-align: center;
	border-radius: 25px;
	vertical-align: top;
	background-color: #393A3B;
	color: white;
	margin:5%;
	margin-right: 20px;
	height: 75%;
}